In [2]:
import pandas as pd
from collections import Counter
from tqdm.auto import tqdm
tqdm.pandas()

import sys
sys.path += ["../LCS_Cython", "../Word_Break"]
from word_break import *
from lcs_method import *

In [216]:
x = WB("attacut_stopword_m10_th31","newmm_stopword_m10_th31")

In [217]:
file_name = "2021_11_28"
df = pd.read_csv(f"../assets/Split_Date/{file_name}.csv")
df

,headline,story,category,date,url
0,บีทีเอส กรุ๊ปฯ ติดอันดับดัชนีความยั่งยืนดาวโจน...,บีทีเอส กรุ๊ปฯ ติดอันดับดัชนีความยั่งยืนดาวโจน...,NaN,2021_11_28,https://www.springnews.co.th/news/818477

In [218]:
df.drop_duplicates(inplace=True,ignore_index=True)
df

,headline,story,category,date,url
0,บีทีเอส กรุ๊ปฯ ติดอันดับดัชนีความยั่งยืนดาวโจน...,บีทีเอส กรุ๊ปฯ ติดอันดับดัชนีความยั่งยืนดาวโจน...,NaN,2021_11_28,https://www.springnews.co.th/news/818477

In [219]:
x.word_break(df)

100%|██████████| 1/1 [00:00<00:00, 21.80it/s]

In [220]:
len(x.attacut_WB)

1

In [221]:
def LCS(atta_list, newmm_list):
    l = len(atta_list)
    lcs_atta = []
    lcs_newmm = []
    for i in tqdm(range(l-1)):
        w1_atta = atta_list[i]
        len_w1_atta = len(w1_atta)
        w1_newmm = newmm_list[i]
        len_w1_newmm = len(w1_newmm)
        for j in range(i+1,l):
            w2_atta = atta_list[j]
            len_w2_atta = len(w2_atta)
            w2_newmm = newmm_list[j]
            len_w2_newmm = len(w2_newmm)
            lcs_atta_list,maxl_atta = [],0
            lcs_newmm_list,maxl_newmm = [],0
            if i != j:
                lcs_atta_list,maxl_atta = lcs_algo(w1_atta,w2_atta,len_w1_atta,len_w2_atta)
                lcs_newmm_list,maxl_newmm = lcs_algo(w1_newmm,w2_newmm,len_w1_newmm,len_w2_newmm)
                if lcs_atta_list != []:
                    lcs_atta.extend(lcs_atta_list)
                if lcs_newmm_list != []:
                    lcs_newmm.extend(lcs_newmm_list)

    lcs_atta_counter = Counter(lcs_atta)
    lcs_newmm_counter = Counter(lcs_newmm)
    return lcs_atta_counter, lcs_newmm_counter

In [222]:
lcs_atta, lcs_newmm = LCS(x.attacut_WB,x.newmm_WB)

0it [00:00, ?it/s]

In [223]:
def LCS_result(data):
    df_result = pd.DataFrame(data.items(), columns=['LCS', 'match'])
    df_result['total_match'] = df_result['match'].sum()
    df_result.sort_values(['match'], ascending=False, inplace=True, ignore_index=True)
    return df_result

In [224]:
result_newmm = LCS_result(lcs_newmm)
result_newmm[:50]

Empty DataFrame
Columns: [LCS, match, total_match]
Index: []

In [225]:
result_newmm.to_csv(f"../assets/Result/newmm/{file_name}.csv",index = False)

In [226]:
result_atta = LCS_result(lcs_atta)
result_atta[:50]

Empty DataFrame
Columns: [LCS, match, total_match]
Index: []

In [227]:
result_atta.to_csv(f"../assets/Result/attacut/{file_name}.csv",index = False)

In [53]:
df = pd.read_csv(r"E:\work\virtualenv\project-infoquest\TTKDON-Mark-2\assets\Result\newmm\2021_11_25.csv")
df[:10]

                                                 LCS  match  total_match
0                                        โล่เชิดชูยล     48         1271
1                               PattayaMusicFestival     21         1271
2                                  ผู้อพยพล่มช่องแคบ     21         1271
3                                    ขับไล่แอมเนสตี้     20         1271
4                                          เสกสกลอัต     15         1271
5                         แอมเนสตี้อินเตอร์เนชั่นแนล     15         1271
6                                     ศูนย์รวม(ศปปส.     15         1271
7                   ขับไล่แอมเนสตี้อินเตอร์เนชั่นแนล     12         1271
8                     การประชุมสุดยอดSummitDemocracy     12         1271
9  USFDAประมาณการข้อบ่งชี้คอร์สบรรจุภัณฑ์มิลลิกรั...     10         1271